<ul id="slide-out" class="side-nav fixed grey darken-4">
  <li><div class="userView">
    <div class="background">
      <img class="header-img" src="assets/img/computer.jpg">
    </div>
    <span class="white-text name"> <input type="text" [(ngModel)]="userName" (keyup)="changeUsername()"></span>
    <a href="#!email"><span class="white-text email"></span></a>
  </div></li>
  <li><a class="grey-text text-lighten-1" href="#!">{{onlineUsers.length}} - Online user<i class="material-icons grey-text text-lighten-1">perm_identity</i></a></li>
  <li><div class="divider grey-text text-lighten-1"></div></li>
  <li *ngFor="let user of onlineUsers"><a class="subheader grey-text text-lighten-1">{{user}}</a></li>
  <li><blockquote class="random-citation grey-text text-lighten-1"></blockquote></li>
</ul>
<main angular2-auto-scroll lock-y-offset="10" observe-attributes>
  <header>
      <a href="#" data-activates="slide-out" class="button-collapse burger-button">
        <i class="material-icons burger-icon">menu</i>
      </a>
      <a href="#" class="app-logo">ezchat</a>
  </header>
  <div id="chatscroll" class="chat-messages grey darken-4">
    <div class="row row-messages">
      <div class="col s12" *ngFor="let message of allMessages; let i = index">
        <div class="card-panel message-panel grey darken-3">
          <p class="message-date">
            <a href="#"  [attr.data-tooltip]="message.date | date:'medium'" data-placement="bottom"  [innerHTML]="message.date | date:'jm'"></a>
          </p>
          <div class="row row-text">
            <span class="message-author grey-text text-lighten-1">{{message.author}} : </span>
            <span class="white-text" [innerHTML]="message.text | linky | emojify">
            </span>
          </div>
          <div class="row row-text">
            <img *ngIf="message.img" class="responsive-img message-img" attr.src="{{message.img}}">
          </div>
          <div *ngIf="message.youtube" class="row row-text">
            <iframe class="youtubeIframe"id="video" width="420" height="315" [src]="message.youtube | safe" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <p *ngIf="i+1===allMessages.length-unreadMessageNumber && unreadMessageNumber!=0" class="new-msg-separator center">unread messages  <i class="material-icons">chat_bubble_outline</i></p>
      </div>
      </div>
      <p *ngIf="usersTyping.length > 0" class="user-type-toast">
        <span *ngFor="let userTyping of usersTyping">{{userTyping}}, </span>
        <span *ngIf="usersTyping.length > 1">are</span>
        <span *ngIf="usersTyping.length < 2">is</span>
        typing</p>
  </div>
</main>
<footer>
  <div class="chat-box grey darken-3">
    <div class="row row-chat-box">
      <form (ngSubmit)="newMessage()">
        <div class="input-field col s11">
          <input id="textarea1" type="text" autocomplete="off" class="white-text" [mention]="emojis" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentMessage" (focus)="setInFocus()" (blur)="setOutFocus()" (keypress)="isTyping()">
          <label for="textarea1">Type a message</label>
        </div>
         <div class="fixed-action-btn">
          <button type="button" class="btn-floating btn-large red darken-4" (click)="newMessage()">
            <i class="large material-icons">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</footer>
