// Variables
$darkgrey: #212121;
$loaderred: #B71C1C;

/*
 * Base
 */
body {
  background: $darkgrey;
}
// Must be a flex for main to set is height automaticaly
// We are GROOT. App root element with a superhero twist
.app-groot {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}

main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

main {
  // Will take as much space possible pushing header and footer, see stycky footer solve by flexbox
  // https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
  flex: 1;
  overflow-y: scroll;
}

/*
 * Loader : sass partial located in scss/_loader.scss
 */
@import 'scss/loader';

/*
 * Custom Css & Material Design style rewritting yay
 */
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/*.chat-nav{
  display: flex;
  justify-content: space-between;
  height: auto; // html nav element are hardcoded to 26px in material.css
  background-color: transparent;
}*/

// New class to overcharge material css corectly
.burger-button {
  position: absolute;
  color: #fff;
}

@media only screen and (min-width : 993px) {
  .burger-button {
    display: none;
  }
}


.burger-icon {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 2.8rem;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.app-logo {
  position: absolute;
  color: #fff;
  right: 20px;
  font-size: 3rem;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.message-panel{
  margin: 0.5rem 0 0.5rem 0;
  padding: 5px;
  border-radius: 5px;
  display:inline-block;
}

.chat-messages{
  // There used to be something here
}

.chat-box{
  background-color: white;
  display: flex;
}

.header-img{
  width:100%;
}

.row-messages{
  width: 100%;
}

.row-chat-box{
  width: 100%;
}

.message-author{
  font-size: 15px;
  font-weight: 300;
}

.brand-logo{
    margin-right: 25px;
}
ul.dropdown-menu.scrollable-menu {
    bottom: 0;
    position: absolute;
    /* <Some displays> */
    overflow-y: auto;
    background:#424242;
    padding: 5px;
    margin-bottom: 15px;
    /*Calculated in python3 with : print(max(array,key=len)) */
    min-width: 280px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    z-index: 100;
    max-height: calc(22.5px * 5 + 5px);
}
ul.dropdown-menu.scrollable-menu li > a{
    color: white;
}
ul.dropdown-menu.scrollable-menu li.active > a{
    color: #B71C1C;
}
ul.dropdown-menu.scrollable-menu li > a > span{
    float: right;
}

.new-msg-separator{
  color: white;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.5);
}
